{% extends "services/services_ctrl_base.html" %}

{% load i18n %}

{% block title %}
Pathfinder
{% endblock %}

{% block active %}
    {% include "services/service_status.html" with username=user.pathfinder %}
{% endblock active %}




{% block url %}
    <a href="{{ PATHFINDER_URL  }}">{{ PATHFINDER_NAME  }}</a>
    {% endblock %}

    {% block user %}
    <p >All Linked Character</p>
    {% endblock %}

    {% block controls %}
    {% if not user.pathfinder %}
    <a href="{% url 'pathfinder:activate' %}" title="Reset" class="btn btn-warning">
                <i class="fa-solid fa-check fa-fw"></i>
    </a>
    {% else %}
    <a href="{% url 'pathfinder:deactivate' %}" title="Deactivate" class="btn btn-danger">
                <i class="fa-solid fa-xmark fa-fw"></i>
    </a>
    {% endif %}
    {% endblock %}
